**/node_modules/*
**/out/*
**/.next/*
coverage
**/*.js
**/*.json
**/*.css
public
styles
.next
dist
.turbo
README.md
storybook-static
schema.gql
migrations
schema.prisma
favicon.ico
global.css
styles.module.css
**/*.graphql
