**/node_modules/*
node_modules/*
apps/docs/*
**/out/*
**/.next/*
coverage
**/*.js
**/*.json
**/*.css
public
styles
.next
dist
.turbo
README.md
storybook-static
schema.gql
favicon.ico
global.css
styles.module.css
**/*.graphql
getStoryblokRedirects.mjs